body>footer{
    position: absolute;
}
body>footer>h1{
    position: absolute;
    top: 2144px;
    left: 594px;
    width: 341px;
    font-family: cursive;
    color: #1bb135;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body>footer>h3{
    position: absolute;
    top: 2189px;
    left: 428px;
    width: 610px;
    font-family: cursive;
    color: #000000;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}