@media all and (min-width: 320px) and (max-width: 425px){
    body>main>section:nth-child(1)>div:nth-child(1){
        position: absolute;
        background: url("../assersts/pic/GIF-210115_153622.gif");
        width: 501px;
        height: 315px;
        top: 347px;
        display: none;
        background-size: cover;
        z-index: 1;
    }
    body>main>section:nth-child(1){
        position: absolute;
    }
    body>main>section:nth-child(2)>p{

    }
    body>main>section:nth-child(1)>div{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>main>section:nth-child(1)>div:nth-child(2)>img:nth-child(1){
        position: absolute;
        width: 1278px;
        height: 462px;
        /* border: 8px solid; */
        left: -2px;
        top: 435px;
        filter: opacity(0.96);
    }
    body>main>section:nth-child(1)>div:nth-child(2)>p:nth-child(2){
        font-family: Brawler;
        position: absolute;
        font-style: normal;
        font-weight: normal;
        font-size: 51px;
        line-height: 24px;
        right: -769px;
        top: 409px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(1)>div:nth-child(2)>p:nth-child(3){
        font-family: Brawler;
        position: absolute;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 24px;
        right: -404px;
        top: 518px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(1)>div:nth-child(2)>pre:nth-child(4){
        font-family: Brawler;
        position: absolute;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 24px;
        right: -1204px;
        top: 598px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(1)>div:nth-child(2)>img:nth-child(5){
        position: absolute;
        width: 236px;
        height: 132px;
        right: -1120px;
        top: 443px;
    }
    body>main>section:nth-child(1)>div:nth-child(2)>img:nth-child(6){
        position: absolute;
        width: 108px;
        height: 95px;
        right: -1207px;
        top: 527px;
    }
    body>main>section:nth-child(1)>div:nth-child(2)>div:nth-child(7){
        position: absolute;
        width: 245px;
        height: 46px;
        right: -284px;
        top: 760px;
        background: url(../assersts/icon/images.jpg);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>main>section:nth-child(1)>div:nth-child(2)>div:nth-child(8){
        position: absolute;
        width: 245px;
        height: 45px;
        right: -544px;
        top: 760px;
        background: url(../assersts/icon/images.jpg);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>main>section:nth-child(1)>div:nth-child(2)>p:nth-child(9){
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 41px;
        line-height: 18px;
        color: white;
        /* margin: 0; */
        top: 729px;
        right: -263px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(1)>div:nth-child(2)>p:nth-child(10){
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 41px;
        line-height: 18px;
        color: white;
        top: 729px;
        right: -534px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(1)>div:nth-child(2)>img:nth-child(11){
        position: absolute;
        width: 70px;
        height: 72px;
        top: 814px;
        right: -102px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>main>section:nth-child(1)>div:nth-child(2)>img:nth-child(12){
        position: absolute;
        width: 87px;
        height: 75px;
        top: 810px;
        right: -447px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>main>section:nth-child(1)>div:nth-child(2)>p:nth-child(13){
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 18px;
        color: black;
        top: 805px;
        right: -322px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(1)>div:nth-child(2)>p:nth-child(14){
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 39px;
        line-height: 18px;
        color: black;
        top: 793px;
        right: -979px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    body>main>section:nth-child(2)>img:nth-child(1){
        position: absolute;
        height: 347px;
        border: 8px solid;
        top: 889px;
        border: 8px solid;
        background-repeat: no-repeat;
        width: 1263px;

    }
    body>main>section:nth-child(2){


    }
    body>main>section:nth-child(2)>section:nth-child(2){
        width: 0px;
        margin: 638px auto;
        position: absolute;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>main>section:nth-child(2)>section:nth-child(2)>h1:nth-child(1){
        width: 196px;
        top: 271px;
        font-size: 42px;
        padding-left: 544px;
        position: absolute;
        color: #1bb135;
        margin: 0;
        font-family: cursive;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(2)>section:nth-child(2)>section:nth-child(2){
        position: absolute;
        top: 231px;
    }
    body>main>section:nth-child(2)>section:nth-child(2)>section:nth-child(2)>li{
        margin: 53px 0;
        width: 500px;
        font-family: Roboto;
        list-style: none;
        /* font-size: 194px; */
        padding-left: 25px;
    }
    body>main>section:nth-child(2)>section:nth-child(2)>section:nth-child(2)>li>h3{
        margin: 0;
        font-size: 27px;
    }
    body>main>section:nth-child(2)>section:nth-child(2)>section:nth-child(2)>li>span{
        background: #353b48;
        display: block;
        height: 2px;
        border: 3px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 0 10px #2187e7b3;
    }
    body>main>section:nth-child(2)>section:nth-child(2)>section:nth-child(2)>li>span>span{
        height: 2px;
        float: left;
        background: #2187e7
    }
    body>main>section:nth-child(2)>section:nth-child(2)>section:nth-child(2)>li:nth-child(1)>span>span{
        width: 90%;
        animation: bar1 4s;
    }
    body>main>section:nth-child(2)>section:nth-child(2)>section:nth-child(2)>li:nth-child(2)>span>span{
        width: 40%;
        animation: bar2 4s;
    }
    body>main>section:nth-child(2)>section:nth-child(2)>section:nth-child(2)>li:nth-child(3)>span>span{
        width: 70%;
        animation: bar3 4s;
    }
    body>main>section:nth-child(2)>section:nth-child(2)>section:nth-child(2)>li:nth-child(4)>span>span{
        width: 50%;
        animation: bar4 4s;
    }
    @keyframes bar1 {
        0%{
            width: 0%;
        }
        100%{
            width: 90%;
        }
    }
    @keyframes bar2 {
        0%{
            width: 0%;
        }
        100%{
            width: 40%;
        }
    }
    @keyframes bar3 {
        0%{
            width: 0%;
        }
        100%{
            width: 70%;
        }
    }
    @keyframes bar4 {
        0%{
            width: 0%;
        }
        100%{
            width: 50%;
        }
    }


    body>main>section:nth-child(2)>div{
        position: absolute;
        width: 154px;
        height: 272px;

    }
    body>main>section:nth-child(2)>div>img{
        width: 100%;
        height: 100%;
        padding-left: 563px;
        padding-top: 971px;
    }


    body>main>section:nth-child(2)>section:nth-child(3){
        width: 0px;
        margin: 638px auto;
        top: 231px;
        position: absolute;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>main>section:nth-child(2)>section:nth-child(3)>li{
        margin: 53px 0;
        width: 500px;
        font-family: Roboto;;
        list-style: none;
        /* font-size: 12px; */
        padding-left: 749px;
    }
    body>main>section:nth-child(2)>section:nth-child(3)>li>h3{
        font-size: 27px;
        margin: 0;
    }
    body>main>section:nth-child(2)>section:nth-child(3)>li>span{
        background: #353b48;
        display: block;
        height: 2px;
        border: 3px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 0 10px #2187e7b3;
    }
    body>main>section:nth-child(2)>section:nth-child(3)>li>span>span{
        height: 2px;
        float: left;
        background: #2187e7
    }
    body>main>section:nth-child(2)>section:nth-child(3)>li:nth-child(1)>span>span{
        width: 90%;
        animation: bar5 4s;
    }
    body>main>section:nth-child(2)>section:nth-child(3)>li:nth-child(2)>span>span{
        width: 40%;
        animation: bar6 4s;
    }
    body>main>section:nth-child(2)>section:nth-child(3)>li:nth-child(3)>span>span{
        width: 70%;
        animation: bar7 4s;
    }
    @keyframes bar5 {
        0%{
            width: 0%;
        }
        100%{
            width: 90%;
        }
    }
    @keyframes bar6 {
        0%{
            width: 0%;
        }
        100%{
            width: 40%;
        }
    }
    @keyframes bar7 {
        0%{
            width: 0%;
        }
        100%{
            width: 70%;
        }
    }



    body>main>section:nth-child(3){
        position: absolute;
    }
    body>main>section:nth-child(3)>img:nth-child(1) {
        position: absolute;
        height: 748px;
        top: 1253px;
        background-repeat: no-repeat;
        width: 1265px;
        /*border: 5px solid;*/
        filter: opacity(0.59);
    }
    body>main>section:nth-child(3)>section:nth-child(2){
        position: absolute;
        top: 1386px;
        left: -34px;
    }
    body>main>section:nth-child(3)>section:nth-child(2)>div{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        /*border: 2px solid #000;*/
        background-size: cover;
        box-shadow: 0 0 10px #000;
    }
    body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(1){
        background: url("../assersts/picCircle/pack1/pack1-1.jpg");
        position: absolute;
        left: 182px;
        background-size: cover;
    }
    body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(2){
        background: url("../assersts/picCircle/pack1/pack1-2.jpg");
        left: 633px;
        position: absolute;
        background-size: cover;
    }
    body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(3){
        background: url("../assersts/picCircle/pack1/pack1-6.jpg");
        position: absolute;
        left: 1048px;
        background-size: cover;
    }
    body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(4){
        background:url("../assersts/picCircle/pack1/pack1-4.jpg");
        position: absolute;
        left: 376px;
        top: 296px;
        background-size: cover;
    }
    body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(5){
        background: url("../assersts/picCircle/pack1/pack1-5.jpg");
        position: absolute;
        left: 885px;
        top: 296px;
        background-size: cover;
    }
    body>main>section:nth-child(3)>h1:nth-child(3){
        position: absolute;
        top: 1267px;
        left: 550px;
        width: 254px;
        font-size: 51px;
        font-family: cursive;
        color: #1bb135;
        margin: 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(3)>pre{
        position: absolute;
        top: 1559px;
        left: 606px;
        width: 155px;
        font-family: cursive;
        margin: 0;
        font-size: 31px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(3)>pre:nth-child(4){
        left: -84px;
    }
    body>main>section:nth-child(3)>pre:nth-child(5){
        left: 535px;
    }
    body>main>section:nth-child(3)>pre:nth-child(6){
        left: 895px;
    }
    body>main>section:nth-child(3)>pre:nth-child(7){
        left: 206px;
        top: 1863px;
    }
    body>main>section:nth-child(3)>pre:nth-child(8){
        left: 712px;
        top: 1863px;
    }
    body>main>section:nth-child(3)>div:nth-child(9){
        position: absolute;
        top: 1917px;
        width: 203px;
        height: 59px;
        /* background: url(../assersts/pic/white-wallpaper-12.jpg); */
        /* border-radius: 25px; */
        left: 591px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>main>section:nth-child(3)>div:nth-child(9)>img {
        width: 100%;
        height: 100%;
    }
    body>main>section:nth-child(3)>div:nth-child(9)>img {
        width: 100%;
        height: 100%;
        border-radius: 54px;
    }
    body>main>section:nth-child(3)>div:nth-child(9)>p {
        position: absolute;
        margin: 0;
        font-size: 34px;
        font-family: Brawler;
        left: 42px;
        top: 14px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }




    body>main>section:nth-child(4){
        position: absolute;
    }
    body>main>section:nth-child(4)>img:nth-child(1) {
        position: absolute;
        height: 825px;
        top: 2012px;
        /*border: 4px solid;*/
        background-repeat: no-repeat;
        width: 1266px;
        filter: opacity(0.59);
    }
    body>main>section:nth-child(4)>section:nth-child(2){
        position: absolute;
        top: 2549px;
    }
    body>main>section:nth-child(4)>section:nth-child(2)>div{
        width: 170px;
        top: -376px;
        height: 170px;
        border-radius: 50%;
        /* border: 2px solid #000; */
        background-size: cover;
        box-shadow: 0 0 10px #000;
    }
    body>main>section:nth-child(4)>section:nth-child(2)>div:nth-child(1){
        background: url("../assersts/picCircle/pack2/pack2-1.jpg");
        position: absolute;
        left: 131px;
        background-size: cover;
    }
    body>main>section:nth-child(4)>section:nth-child(2)>div:nth-child(2){
        background: url("../assersts/picCircle/pack2/pack2-2.jpg");
        left: 595px;
        position: absolute;
        background-size: cover;
    }
    body>main>section:nth-child(4)>section:nth-child(2)>div:nth-child(3){
        background: url("../assersts/picCircle/pack2/pack2-3.jpg");
        position: absolute;
        left: 1022px;
        background-size: cover;
    }
    body>main>section:nth-child(4)>section:nth-child(2)>div:nth-child(4){
        background:url("../assersts/picCircle/pack2/pack2-4.jpg");
        position: absolute;
        left: 363px;
        top: -70px;
        background-size: cover;
    }
    body>main>section:nth-child(4)>section:nth-child(2)>div:nth-child(5){
        background: url("../assersts/picCircle/pack2/pack2-5.jpg");
        position: absolute;
        left: 885px;
        top: -70px;
        background-size: cover;
    }
    body>main>section:nth-child(4)>h1:nth-child(3){
        position: absolute;
        top: 2050px;
        left: 425px;
        font-size: 51px;
        width: 543px;
        font-family: cursive;
        color: #1bb135;
        margin: 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    body>main>section:nth-child(4)>pre{
        position: absolute;
        top: 2549px;
        left: 606px;
        width: 155px;
        font-family: cursive;
        margin: 0;
        top: 2363px;
        font-size: 31px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(4)>pre:nth-child(4){
        left: -45px;
    }
    body>main>section:nth-child(4)>pre:nth-child(5){
        left: 464px;
    }
    body>main>section:nth-child(4)>pre:nth-child(6){
        left: 871px;
    }
    body>main>section:nth-child(4)>pre:nth-child(7){
        left: 269px;
        top: 2653px;
    }
    body>main>section:nth-child(4)>pre:nth-child(8){
        top: 2653px;
        left: 748px;
    }
    body>main>section:nth-child(4)>div:nth-child(9){
        position: absolute;
        top: 2732px;
        width: 203px;
        height: 59px;
        /* background: url(../assersts/pic/white-wallpaper-12.jpg); */
        /* border-radius: 25px; */
        left: 606px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>main>section:nth-child(4)>div:nth-child(9)>img {
        width: 100%;
        height: 100%;
    }
    body>main>section:nth-child(4)>div:nth-child(9)>img {
        width: 100%;
        height: 100%;
        border-radius: 54px;
    }
    body>main>section:nth-child(4)>div:nth-child(9)>p {
        position: absolute;
        margin: 0;
        font-size: 34px;
        font-family: Brawler;
        left: 43px;
        top: 11px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    body>main>section:nth-child(5){
        position: absolute;
    }
    body>main>section:nth-child(5)>img:nth-child(1) {
        position: absolute;
        height: 1661px;
        top: 2849px;
        background-repeat: no-repeat;
        width: 1265px;
        /*border: 4px solid;*/
        filter: opacity(0.59);
    }

    body>main>section:nth-child(5)>section:nth-child(2){
        position: absolute;
        top: 3020px;
    }
    body>main>section:nth-child(5)>section:nth-child(2)>div{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        /*border: 2px solid #000;*/
        background-size: cover;
        box-shadow: 0 0 10px #000;
    }
    body>main>section:nth-child(5)>section:nth-child(2)>div:nth-child(1){
        background: url("../assersts/picCircle/pack2/pack2-1.jpg");
        position: absolute;
        left: 117px;
        background-size: cover;
    }
    body>main>section:nth-child(5)>section:nth-child(2)>div:nth-child(2){
        background: url("../assersts/picCircle/pack2/pack2-2.jpg");
        left: 341px;
        top: 295px;
        position: absolute;
        background-size: cover;
    }
    body>main>section:nth-child(5)>section:nth-child(2)>div:nth-child(3){
        background: url("../assersts/picCircle/pack2/pack2-3.jpg");
        position: absolute;
        left: 596px;
        background-size: cover;
    }
    body>main>section:nth-child(5)>section:nth-child(2)>div:nth-child(4){
        background:url("../assersts/picCircle/pack2/pack2-4.jpg");
        position: absolute;
        left: 859px;
        top: 295px;
        background-size: cover;
    }
    body>main>section:nth-child(5)>section:nth-child(2)>div:nth-child(5){
        background: url("../assersts/picCircle/pack2/pack2-5.jpg");
        position: absolute;
        left: 1015px;
        background-size: cover;
    }
    body>main>section:nth-child(5)>h1:nth-child(3){
        position: absolute;
        top: 2897px;
        left: 583px;
        font-size: 51px;
        width: 341px;
        font-family: cursive;
        color: #1bb135;
        margin: 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(5)>pre{
        position: absolute;
        top: 3225px;
        left: 606px;
        width: 155px;
        font-family: cursive;
        margin: 0;
        font-size: 31px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>main>section:nth-child(5)>pre:nth-child(4){
        left: 41px;
    }
    body>main>section:nth-child(5)>pre:nth-child(5){
        left: 276px;
        padding-top: 269px;
    }
    body>main>section:nth-child(5)>pre:nth-child(6){
        left: 533px;
    }
    body>main>section:nth-child(5)>pre:nth-child(7){
        left: 752px;
        padding-top: 269px;
    }
    body>main>section:nth-child(5)>pre:nth-child(8){
        left: 955px;
    }




    body>footer{
        position: absolute;
    }
    body>footer>h1{
        position: absolute;
        top: 3618px;
        left: 522px;
        font-size: 51px;
        width: 341px;
        font-family: cursive;
        color: #1bb135;
        margin: 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>footer>h3{
        position: absolute;
        top: 3718px;
        left: 64px;
        font-size: 35px;
        width: 1140px;
        font-family: cursive;
        color: #000000;
        margin: 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>footer>section{
        position: absolute;
        top: 3810px;
        left: 191px;
        width: 898px;
        height: 607px;
        background: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    body>footer>section>img:nth-child(1){
        position: absolute;
        top: 40px;
        width: 231px;
        height: 407px;
        left: 39px;
        filter: opacity(0.98);
    }
    body>footer>section>div{
        position: absolute;
        width: 392px;
        height: 2px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        border-radius: 12px;
        background: #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>footer>section>div:nth-child(2){
        top: 116px;
        left: 388px;
    }
    body>footer>section>div:nth-child(3){
        top: 238px;
        left: 388px;
    }
    body>footer>section>div:nth-child(4){
        top: 420px;
        left: 388px;
    }
    body>footer>p{
        font-family: Brawler;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body>footer>p:nth-child(4){
        position: absolute;
        top: 3791px;
        width: 257px;
        left: 701px;
    }
    body>footer>p:nth-child(5){
        position: absolute;
        top: 3913px;
        width: 248px;
        left: 701px;
    }
    body>footer>p:nth-child(6){
        position: absolute;
        top: 4041px;
        left: 689px;
        width: 291px;
    }
    body>footer>div:nth-child(7){
        position: absolute;
        top: 4288px;
        left: 607px;
        width: 360px;
        height: 79px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    }
    body>footer>div:nth-child(7)>img{
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 37px;
    }
    body>footer>p:nth-child(8){
        position: absolute;
        top: 4303px;
        left: 672px;
        margin: 0;
        width: 230px;
        font-size: 42px;
    }











}